html {
  scroll-behavior: smooth;
}

/* Menu hamburguesa */
.menu-hamburguesa {
  position: fixed !important;
}

/* Se cambio desde los estilos preeestablecidos, para el tamaño de los sliders */
.fullwidthbanner-container {
	max-height: 543px !important;
}

/* Se quita el padding-bottom de el footer */
#content-wrapper {
  padding-bottom: 0 !important;
}
#footer {
  padding: 35px 0 0 0;
}


/* Botones 'Ver más' del Slider */
.slider_ver-mas {
  margin-top: 10px;
}
.slider_ver-mas-primero {
  margin-top: 35px;
}

/* Container general que esta en el centro */
.container-consejo, .container-contacto {
  padding-bottom: 2em !important;
}

/* Container de Medicamentos */
.medicamentos {
  margin: 0rem auto 7rem auto;
}
.container_medicamento {
  margin-bottom: 5rem;
  padding-top: 6em;
  display: flex;
  flex-wrap: wrap;
}

.img-medicamento {
  width: 500px;
}

.container_medicamento--descripcion {
  width: 46%;
  margin: auto;
}
/* Fin Container de Medicamentos */


/* Lista de iconos de redes sociales */
.lista-iconos {
  display: inline;
  float: left;
  margin: 0 2rem;
}
/* cambiamos el roden de los botones de las redes sociales, con el boton comprar */
.donde-comprar {
  float: left !important;
}
/* background de instagram */
.instagram:hover {
  background: linear-gradient(119deg, rgba(81, 91, 212) 0%, rgba(129,52,175) 25%, rgba(221,42,123) 58%, rgba(245,133,41) 100%)
}

/* cambiamos el color de comprar */
.button {
  background-color: #3f8cd3 !important;
  color: #fff !important;
}
/* cambiamos el color de el hover */
.button:hover {
  background-color: #235b9f !important;
}
/* PARA FACEBOOK */
/* cambio de color de fondo gris a azul */
.social-icons li .facebook {
  background-color: #4a6d9d;
}
/* cambio de color al icono de gris a blanco */
.social-icons li .facebook::before {
  color: #fff !important;
}

/* PARA INSTAGRAM */
.social-icons li .instagram {
  background: linear-gradient(119deg, rgba(81, 91, 212) 0%, rgba(129,52,175) 25%, rgba(221,42,123) 58%, rgba(245,133,41) 100%)
}
.social-icons li .instagram::before {
  color: #fff !important;
}

/* Para mostrar los circulos en los ul */
.l-medicamentos, .l-consejoDetalle {
  list-style: inside;
}

.l-consejoDetalle li {
  margin-bottom: .8rem;
}

/* consejo-detalle, modificamos los párrafos */
.parrafo p {
  text-align: justify !important;
}

/* imgs detalle-consejo */
.img-fases {
  width: 100%;
  margin: 1rem 0;
}

.img-covid {
  width: 100%;
  margin-bottom: 1rem;
}

/* Media Queries */
@media all and (max-width: 1110px) {
  #slider-0 {
    font-size: 2rem;
  }
}

@media all and (max-width: 991px) {
  /* Container Medicamentos */
  #slider-0{
    font-size: 2rem;
  }
  .img-medicamento {
    width: 100%;
  }
  .container_medicamento--descripcion {
    width: 100%;
    margin: auto;
    margin-top: 1rem;
  }

  .container_medicamento:nth-child(2) .container_medicamento--descripcion {
    order: 2;
  }

  .container_medicamento:nth-child(2) .container_medicamento--img {
    order: 1;
  }
  /* Fin Container Medicamentos */
}

@media all and (max-width: 765px) {
  #slider-0 {
    font-size: 1.7rem;
  }
  .slider_ver-mas {
    margin-top: 2rem;
  }

  .slider_ver-mas-primero {
    margin-top: 50px;
  }
}


/* Conejo-detalle, para el rsponsive de los párrafos */
@media all and (max-width: 767px) {
  .post-content {
    margin: 0 !important;
    float: none !important;
  }
}

/* Para los iconos de donde comprar */
@media all and (max-width: 479px) {
  #slider-0 {
    font-size: 1rem;
    line-height: 60% !important;
  }
  .lista-iconos {
    margin: 0;
  }
  .donde-comprar {
    margin-right: 1rem;
  }
}

@media all and (max-width: 500px) {
  #slider-0 {
    font-size: 1.1rem;
    line-height: 70% !important;
  }
  .slider_ver-mas-primero {
    margin-top: 15px;
  }
}




/* Fin Media Queries */